@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>@ViewData["Brand"]!
    <div style="border:thin solid #00f;text-align:left;padding:5px;"></div>
</div>