@page
@model GlobalizationUseSettings3.Pages.SearchModel
@{
}
<div class="text-center">
    <h4>@ViewData["Title"]!</h4>
    <div style="border:thin solid #00f;text-align:left;padding:5px;">
    </div>
</div>